.process__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16rem;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #fff;
    height: 100%;
    justify-content: center;
}

.process__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.process__steps {
    flex: 1 1 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.process__step {
    flex: 1 1 200px;
    max-width: 300px;
}

.process__card {
    background: rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: center;
    min-height: 250px;
    max-width: 248px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.process__card:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.process__icon {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #7634B3;
}

.process__step-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.process__step-description {
    font-size: 1rem;
    color: #ccc;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width:576px) {
    .process__card {
        min-height: 200px;
        display: flex;
        flex-direction: column;
        align-content: middle;
        justify-content: center;
        margin-top: 1rem;
    }

    .process__container {
        margin-top: 6rem;
        padding: 3rem;
    }
    .process__steps {
        padding: 0rem 2rem;
    }
}